.container{
    display: flex;
    padding: 5px;
    position: relative;
    box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.315);
    margin-top: 5px;
    width: 100%;

}

.title{
    font-size: 27px;
    font-weight: 900;
}

.kcals{
    font-size: 18px;
    font-weight: 900;
    color: gray;
    margin-left: 1px;
}

.text_section{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 5px;
    width: 240px;
    position: relative;
}


