.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    animation: fade-in 0.5s linear;
    
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.colour_select_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 155px;
    margin-top: 10px;
}

.colour_name{
    font-size: 20px;
}

.colour_box{
    height: 22px;
    width: 22px;
    margin-left: 15px;
    border: 2px solid grey;
    border-radius: 15px;
}