.container{

    position: relative;
    padding-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: slide-in 0.3s ease forwards;
    left:100vw

}

@keyframes slide-in {
    0%{
        left: 100vw;
    }

    100%{
        left: 0;
    }
}

.favourite_star{
    position: absolute;
    right: 10px;
    top: 60px;
    height: 40px;
}