.container{
    display: flex;
    padding: 5px;
    position: relative;
}

.title{
    font-size: 27px;
    font-weight: 900;
}

.kcals{
    font-size: 18px;
    font-weight: 900;
    color: gray;
}

.text_section{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 5px;
    width: 240px;
}


