.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.icon {
    height: 40px;
    width: 40px;
    margin-bottom: 2px;
}

.animated_icon {
    animation: bounce .09s infinite alternate;
    -webkit-animation: bounce .09s infinite alternate;
    position: relative;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-10px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-10px);
    }
  }