.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.title{
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 20px;
}

.option_wrapper{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: 5px;
}

.calories{
    margin-top: 20px;
    font-size: 20px;
}
